prepros-6.config
images/image_4.jpg
images/image_5.jpg
images/practice_2.jpg
images/practice_3.jpg
images/project-1.jpg
images/project-2.jpg
images/project-3.jpg
images/project-6.jpg
images/tee 1.png

scss/

